<div class="container body-form text-center">
    
    <h2>My To Do List</h2>
    <form #addItemForm="ngForm" (ngSubmit)="saveItem(addItemForm.value)" class="form-signin">
        <div class="row">
            <div class="col-md-8 form-group">
                <input type="text" name="title" required #title="ngModel" ngModel class="form-control" id="inputTitle"
                placeholder="Title">
            <span *ngIf="title.invalid && title.touched" style="color: red;">Enter a valid title.</span>
            </div>
            <div class="col-md-2 form-group">
                <input type="date" name="deadline" #deadline="ngModel" ngModel class="form-control" id="inputDeadline"
                placeholder="Deadline">
            </div>
            <div class="col-md-2 form-group">
                <button type="submit" class="btn btn-success left" [disabled]="addItemForm.invalid">Add</button>
            </div>
        </div>
        <br />
    </form>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Creation date</th>
                <th scope="col">Deadline</th>
                <th scope="col">Done</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of todoList">
                <td>{{item.title}}</td>
                <td>{{item.creationDate | date: 'dd/MM/yyyy' }} </td>
                <td>{{item.deadline | date: 'dd/MM/yyyy' }}</td>
                <td>
                    <input class="form-check-input" type="checkbox" [checked]="item.done" id="flexCheckDefault" (change)="changeItemStatus(item.id, $event)">
                </td>
            </tr>
        </tbody>
    </table>
</div>